.content{
    height: 767px;
    position: relative;
}

/* .social-widget{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.social-widget a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

li{
    display: inline-block;
}
.social-button{
    width: 300px;
    height: auto;
    padding: 10px;
    letter-spacing: 1px;
    margin: 5px;
    /* border: solid;
    border-width: 2px; */
    border-left: solid;
    border-left-color: rgb(12, 73, 97);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    /* border-color: #014a74; */
}

.allcode{
    background-color: rgb(71, 71, 71, 100%);
}
.youtube{
    background-color: rgb(226, 23, 23, 100%);
}
.instagram{
    background-color: rgb(235, 47, 82, 100%);
}
.telegram{
    background-color: rgb(0, 131, 192, 100%);
}
.group{
    background-color: rgb(0, 130, 190, 100%);
}
.whatsapp{
    background-color: rgb(30, 155, 36, 100%);
}
.discord{
    background-color: rgb(62, 113, 221, 100%);
}

.social-widget a ul li{
    color: rgb(255, 255, 255);
}

.social-text{
    width: 150px;
    border-left: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    padding: 10px;
}

.right-text{
    width: 75px;
    padding-left: 5px;
    font-size: 12px;
}
.fa{
    color: aliceblue;
    text-align: center;
    width: 30px;
}
.social-button:hover{
    background-color: #000000;
    transition: 0.5s;
}

.exploreMaps {
    display: block;
    align-items: center;
    text-align: center;
    padding: 15PX;
    color: #ffffff;
    border-radius: 10px;
    background-color: rgb(0 0 0 / 70%);
    text-align: left;
    width: 285px;
    height: 50px;
    margin: auto;
    border-left: solid;
    border-left-color: rgb(255, 0, 0);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}

.exploreMaps P {
    font-size: small;
    color: #dddddd;
}