*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header{
    background: linear-gradient(rgb(0, 119, 255), rgb(255, 255, 255));
    padding: 10px;
    border-bottom: solid;
    border-color: rgb(255, 255, 255);
    height: 60px;
    width: auto;
    font-size: 18PX;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 0px;
    border-bottom-width: 0px;
}

.header a{
    color: rgb(30, 37, 43);
    background-color: aliceblue;
    padding: 6px 15px 6px 15px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.header a:hover{
    background-color: rgb(43, 93, 151);
    color: rgb(160, 203, 252);
    border-radius: 10px;
    transition: 0.25s;
}

.content{
    background-color: rgb(255, 255, 255);
    width: auto;
}

.footer{
    
    bottom: 0px;
    background: linear-gradient(white,rgb(240, 68, 68));
    padding: 10px;
    border-top: solid;
    border-color: rgb(255, 255, 255);
    height: 60px;
    width: auto;
    text-align: center;
    position: relative;
}

.footer img{
    height: 25px;
    position: absolute;
    top: 65%;
    left: 50%;
    padding: 1px 10px 1px 10px;
    transform: translate(-50%, -50%);
}

.mainTitle {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 5px;
}

footer {
    text-align: center;
}

.stickyBar {
    position: sticky;
      top: 0;
      left: 0;
      right: 0;
      /* box-shadow: 0px -2px 20px rgba(0, 0, 0, 0.3); */
}

#searchInput {
    background: #ffffff;
    padding-bottom: 5px;
    padding: 5px;
}

.sacsoLogo {
    height: 100px;
    display: block;
    margin: auto;
}